@page "/"
@rendermode InteractiveServer
@using BlazorApp1.Services
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JS
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Forms
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div style="display: flex; flex-direction: column;">
    <textarea style="height: 25vh" @bind="inputText" @bind:event="oninput"></textarea>
    <label for="method">Choose encryption:</label>
    <select id="method" name="method">
            <option value="caesar">Caeser Cipher</option>
            <option value="vigenere">Vigenere Cipher</option>
    </select>
    <button type="button" @onclick="EncryptText">Encrypt</button>
    <textarea readonly style="height: 25vh" @bind="outputText"></textarea>
    <button type="button" @onclick="DecryptText">Decrypt</button>
</div>

<div>
    <input @bind="fileName" placeholder="Enter file name" />
    <button type="button" @onclick="SaveFile">SAVE</button>
    <InputFile OnChange="LoadFile" />
    <button type="button" @onclick="ClearText">CLEAR</button>
</div>



@code {
    private string inputText = "";
    private string outputText = "";
    private string fileName = "encrypted.txt";
    private encryptionService service = new encryptionService();

    private void EncryptText()
    {
        outputText = service.Encrypt( inputText );
        inputText = "";
    }

    private void DecryptText()
    {
        inputText = service.Decrypt( outputText );
        outputText = "";

    }

    private async Task SaveFile()
    {
        await JS.InvokeVoidAsync( "downloadFile", fileName, outputText );
    }

    private async Task LoadFile( InputFileChangeEventArgs e )
    {
        var file = e.File;

        using var stream = file.OpenReadStream();
        using var reader = new StreamReader( stream );

        outputText = await reader.ReadToEndAsync();
    }

    private void ClearText()
    {
        inputText = "";
        outputText = "";
	}

}