@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div style="display: flex; flex-direction: column;">
	<textarea placeholder="input text to encrypt"></textarea>
	<button>Encrypt</button>
	<textarea placeholder="output decrypted text"></textarea>
	<button>Decrypt</button>
</div>